import Link from "next/link";
import {
  Table,
  TableBody,
  TableCell,
  TableHead,
  TableHeader,
  TableRow,
} from "@/components/ui/table";
import { Sortable } from "@/components/ui/sortable";
import { {{tableObj.singularPascalCase}}List } from "../_lib/get-{{tableObj.singularKebabCase}}-list";

export function {{tableObj.singularPascalCase}}Table({ {{tableObj.singularCamelCase}}List }: { {{tableObj.singularCamelCase}}List: {{tableObj.singularPascalCase}}List }) {
  return (
    <Table>
      <TableHeader>
        <TableRow>
          <TableHead><Sortable column="id">Id</Sortable></TableHead>
          {{#each validatedColumns}}
            {{#switch this.dataType}}
              {{#case "references"}}
          <TableHead><Sortable column="{{this.caseVariants.originalCamelCase}}">{{this.caseVariants.originalCapitalCase}}</Sortable></TableHead>
              {{/case}}
              {{#case "references_select"}}
          <TableHead><Sortable column="{{this.caseVariants.originalCamelCase}}">{{this.caseVariants.originalCapitalCase}}</Sortable></TableHead>
              {{/case}}
              {{#default}}
          <TableHead><Sortable column="{{this.caseVariants.originalCamelCase}}">{{this.caseVariants.originalCapitalCase}}</Sortable></TableHead>
              {{/default}}
            {{/switch}}
          {{/each}}
          <TableHead></TableHead>
        </TableRow>
      </TableHeader>
      <TableBody>
        { {{tableObj.singularCamelCase}}List.map(({{tableObj.singularCamelCase}}Row) => (
          <TableRow key={ {{tableObj.singularCamelCase}}Row.id }>
            <TableCell>{ {{tableObj.singularCamelCase}}Row.id }</TableCell>
            {{#each validatedColumns}}
              {{#switch this.dataType}}
                {{#case "boolean"}}
            <TableCell>{ {{../tableObj.singularCamelCase}}Row.{{this.caseVariants.originalCamelCase}} ? "true" : "false" }</TableCell>
                {{/case}}
                {{#case "date"}}
            <TableCell>{ {{../tableObj.singularCamelCase}}Row.{{this.caseVariants.originalCamelCase}}?.toLocaleDateString() }</TableCell>
                {{/case}}
                {{#case "datetime"}}
            <TableCell>{ {{../tableObj.singularCamelCase}}Row.{{this.caseVariants.originalCamelCase}}?.toLocaleString() }</TableCell>
                {{/case}}
                {{#case "timestamp"}}
            <TableCell>{ {{../tableObj.singularCamelCase}}Row.{{this.caseVariants.originalCamelCase}}?.toLocaleString() }</TableCell>
                {{/case}}
                {{#case "json"}}
            <TableCell>{ JSON.stringify({{../tableObj.singularCamelCase}}Row.{{this.caseVariants.originalCamelCase}}) }</TableCell>
                {{/case}}
                {{#case "jsonb"}}
            <TableCell>{ JSON.stringify({{../tableObj.singularCamelCase}}Row.{{this.caseVariants.originalCamelCase}}) }</TableCell>
                {{/case}}
                {{#case "references"}}
            <TableCell>{ {{../tableObj.singularCamelCase}}Row.{{this.caseVariants.singularCamelCase}} }</TableCell>
                {{/case}}
                {{#case "references_select"}}
            <TableCell>{ {{../tableObj.singularCamelCase}}Row.{{this.caseVariants.singularCamelCase}} }</TableCell>
                {{/case}}
                {{#case "file"}}
            <TableCell>{ {{../tableObj.singularCamelCase}}Row.{{this.caseVariants.originalCamelCase}} }</TableCell>
                {{/case}}
                {{#default}}
            <TableCell>{ {{../tableObj.singularCamelCase}}Row.{{this.caseVariants.originalCamelCase}} }</TableCell>
                {{/default}}
              {{/switch}}
            {{/each}}
            <TableCell className="flex gap-3 [&>a]:underline">
              <Link href={`/{{tableObj.pluralKebabCase}}/${ {{tableObj.singularCamelCase}}Row.id }`}>
                View
              </Link>
              <Link href={`/{{tableObj.pluralKebabCase}}/${ {{tableObj.singularCamelCase}}Row.id }/edit`}>
                Edit
              </Link>
              <Link href={`/{{tableObj.pluralKebabCase}}/${ {{tableObj.singularCamelCase}}Row.id }/delete`}>
                Delete
              </Link>
            </TableCell>
          </TableRow>
        ))}
      </TableBody>
    </Table>
  );
}
