import Link from "next/link";
import { eq } from "drizzle-orm";
import { {{tableObj.singularPascalCase}}DeleteForm } from "../../_components/{{tableObj.singularKebabCase}}-delete-form";
import { db } from "@/config/db";
import { {{tableObj.pluralCamelCase}} } from "@/schema/{{tableObj.pluralKebabCase}}";

type Params = Promise<{ id: {{pkStrategyJsType}} }>;

export default async function Page(props: { params: Params }) {
  const params = await props.params;
  const { id } = params;
  const {{tableObj.singularCamelCase}}Obj = await db.query.{{tableObj.pluralCamelCase}}.findFirst({ where: eq({{tableObj.pluralCamelCase}}.id, id) });

  return (
    <div className="flex flex-col gap-3 p-3">
      <div>Delete {{tableObj.singularCapitalCase}}</div>
      <div className="[&>a]:underline">
        <Link href={`/admin/{{tableObj.pluralKebabCase}}`}>Back</Link>
      </div>
      <div>
        <{{tableObj.singularPascalCase}}DeleteForm {{tableObj.singularCamelCase}}Obj={ {{tableObj.singularCamelCase}}Obj } />
      </div>
    </div>
  );
}
