import Link from "next/link";
import { eq } from "drizzle-orm";
import { {{tableObj.singularPascalCase}}DeleteForm } from "../../_components/{{tableObj.singularKebabCase}}-delete-form";
import { db } from "@/lib/db";
import { {{tableObj.pluralCamelCase}} } from "@/schema/{{tableObj.pluralKebabCase}}";

type Params = Promise<{ id: {{pkStrategyJsType}} }>;

export default async function Page(props: { params: Params }) {
  const params = await props.params;
  const { id } = params;
  const {{tableObj.singularCamelCase}}Row = await db.query.{{tableObj.pluralCamelCase}}.findFirst({ where: eq({{tableObj.pluralCamelCase}}.id, id) });

  return (
    <div>
      <div>
        <div>Delete {{tableObj.singularCapitalCase}}</div>
        <div>
          <Link href={`/{{tableObj.pluralKebabCase}}`}>Back</Link>
        </div>
      </div>
      <div>
        <{{tableObj.singularPascalCase}}DeleteForm {{tableObj.singularCamelCase}}Row={ {{tableObj.singularCamelCase}}Row } />
      </div>
    </div>
  );
}
