import Link from "next/link";
import { like } from "drizzle-orm";
import { db } from "@/lib/db";
import { Pagination } from "@/components/ui/pagination";
import { SearchInput } from "@/components/ui/search-input";
import { Button } from "@/components/ui/button";
import { parseSearchParams } from "@/lib/search-params";
import { {{tableObj.pluralCamelCase}} } from "@/schema/{{tableObj.pluralKebabCase}}";
import { {{tableObj.singularPascalCase}}Table } from "./_components/{{tableObj.singularKebabCase}}-table";
import { get{{tableObj.singularPascalCase}}List } from "./_lib/get-{{tableObj.singularKebabCase}}-list";

type SearchParams = Promise<{ [key: string]: string | string[] | undefined }>;

export default async function Page(props: {
  searchParams: SearchParams;
}) {
  const searchParams = await props.searchParams;
  const {
    page = 1,
    pageIndex = 0,
    pageSize = 10,
    search,
    sortKey = "createdAt",
    sortOrder = "desc",
  } = parseSearchParams(searchParams);
  const filters = search ? like({{tableObj.pluralCamelCase}}.id, `%${search}%`) : undefined;
  const count = await db.$count({{tableObj.pluralCamelCase}}, filters);
  const totalPages = Math.ceil(count / pageSize);
  const {{tableObj.singularCamelCase}}List = await get{{tableObj.singularPascalCase}}List({
    filters: filters,
    sortKey: sortKey,
    sortOrder: sortOrder,
    limit: pageSize,
    offset: pageIndex * pageSize,
  });

  return (
    <div className="flex flex-col gap-3 p-3">
      <div>{{tableObj.pluralCapitalCase}}</div>
      <div className="flex justify-between">
        <SearchInput />
        <Link href="/{{tableObj.pluralKebabCase}}/new">
          <Button variant="info">New</Button>
        </Link>
      </div>
      <div className="overflow-auto">
        <{{tableObj.singularPascalCase}}Table {{tableObj.singularCamelCase}}List={ {{tableObj.singularCamelCase}}List } />
      </div>
      <div>
        <Pagination
          page={page}
          pageSize={pageSize}
          totalPages={totalPages}
          count={count}
        />
      </div>
    </div>
  );
}
