"use client";

import { startTransition, useActionState } from "react";
import { create{{tableObj.singularPascalCase}}, Create{{tableObj.singularPascalCase}}State } from "@/actions/{{authorizationLevel}}/{{tableObj.pluralKebabCase}}/create-{{tableObj.singularKebabCase}}";
import { Button } from "@/components/ui/button";
import { Label } from "@/components/ui/label";
import { Form, FormControl, FormMessage } from "@/components/ui/form";
import { Alert } from "@/components/ui/alert";
{{formControlsImports}}
{{#each referencesColumnList}}
import { {{this.referenceTableVars.singularPascalCase}} } from "@/schema/{{this.referenceTableVars.pluralKebabCase}}";
{{/each}}

export function {{tableObj.singularPascalCase}}CreateForm({{#if hasReferences}}{
  {{#each referencesColumnList}}
  {{this.referenceTableVars.singularCamelCase}}List,
  {{/each}}
}: {
  {{#each referencesColumnList}}
  {{this.referenceTableVars.singularCamelCase}}List: {{this.referenceTableVars.singularPascalCase}}[];
  {{/each}}
}{{/if}}) {
  const initialState: Create{{tableObj.singularPascalCase}}State = {};
  const [state, dispatch] = useActionState(create{{tableObj.singularPascalCase}}, initialState);

  function handleSubmit(event: React.FormEvent<HTMLFormElement>) {
    event.preventDefault();
    const formData = new FormData(event.target as HTMLFormElement);
    startTransition(() => dispatch(formData));
  }

  return (
    <Form onSubmit={handleSubmit}>
{{formControls}}
      <FormControl>
        <Button type="submit">Submit</Button>
      </FormControl>
      {state.message && <Alert variant="danger">{state.message}</Alert>}
    </Form>
  );
}
