      <FormControl>
        <Label htmlFor="{{validatedColumn.caseVariants.singularCamelCase}}">{{validatedColumn.caseVariants.singularCapitalCase}}</Label>
        <Select name="{{validatedColumn.caseVariants.singularCamelCase}}" id="{{validatedColumn.caseVariants.singularCamelCase}}">
        { {{validatedColumn.referenceTableVars.singularCamelCase}}List.map(({{validatedColumn.referenceTableVars.singularCamelCase}}) => (
          <SelectOption key={ {{validatedColumn.referenceTableVars.singularCamelCase}}.id } value={ {{validatedColumn.referenceTableVars.singularCamelCase}}.id.toString() }>
            { {{validatedColumn.referenceTableVars.singularCamelCase}}.id}
          </SelectOption>
        ))}
        </Select>
        {state.errors?.{{validatedColumn.caseVariants.singularCamelCase}}?.map((error) => (
          <FormMessage key={error} variant="error">{error}</FormMessage>
        ))}
      </FormControl>