"use client";

import { delete{{tableObj.singularPascalCase}}, Delete{{tableObj.singularPascalCase}}State } from "@/services/{{tableObj.pluralKebabCase}}/delete-{{tableObj.singularKebabCase}}";
import { Button } from "@/components/ui/button";
import { startTransition, useActionState } from "react";
import { {{tableObj.singularPascalCase}} } from "@/schema/{{tableObj.pluralKebabCase}}";
import { Form, FormControl } from "@/components/ui/form";
import { Label } from "@/components/ui/label";
import { Alert } from "@/components/ui/alert";

export function {{tableObj.singularPascalCase}}DeleteForm({ {{tableObj.singularCamelCase}} }: { {{tableObj.singularCamelCase}}: {{tableObj.singularPascalCase}} }) {
  const initialState: Delete{{tableObj.singularPascalCase}}State = {};
  const [state, dispatch] = useActionState(delete{{tableObj.singularPascalCase}}, initialState);

  function handleSubmit(event: React.FormEvent<HTMLFormElement>) {
    event.preventDefault();
    const formData = new FormData(event.target as HTMLFormElement);
    startTransition(() => dispatch(formData))
  }

  return (
    <Form onSubmit={handleSubmit}>
      <FormControl>
        <Label htmlFor="id">Id: { {{tableObj.singularCamelCase}}.id }</Label>
        <input type="hidden" name="id" id="id" value={ {{tableObj.singularCamelCase}}.id } />
      </FormControl>
      <FormControl>
        <Button variant="destructive" type="submit">
          Delete
        </Button>
      </FormControl>
      {state.message && <Alert variant="destructive">{state.message}</Alert>}
    </Form>
  );
}
