import Link from "next/link";
import {
  Table,
  TableBody,
  TableCell,
  TableHead,
  TableHeader,
  TableRow,
} from "@/components/ui/table";
import { Sortable } from "@/components/sortable";
import { {{tableObj.pluralPascalCase}}WithRelationsList } from "@/queries/{{tableObj.singularKebabCase}}-queries";

export function {{tableObj.singularPascalCase}}Table({ {{tableObj.singularCamelCase}}List }: { {{tableObj.singularCamelCase}}List: {{tableObj.pluralPascalCase}}WithRelationsList }) {
  return (
    <Table>
      <TableHeader className="bg-background">
        <TableRow>
          <TableHead><Sortable column="id">Id</Sortable></TableHead>
          {{#each validatedColumns}}
            {{#switch this.dataType}}
              {{#case "references"}}
          <TableHead><Sortable column="{{this.caseVariants.originalCamelCase}}">{{this.caseVariants.originalCapitalCase}}</Sortable></TableHead>
              {{/case}}
              {{#case "references_select"}}
          <TableHead><Sortable column="{{this.caseVariants.originalCamelCase}}">{{this.caseVariants.originalCapitalCase}}</Sortable></TableHead>
              {{/case}}
              {{#default}}
          <TableHead><Sortable column="{{this.caseVariants.originalCamelCase}}">{{this.caseVariants.originalCapitalCase}}</Sortable></TableHead>
              {{/default}}
            {{/switch}}
          {{/each}}
          <TableHead>
            <Link href="{{#if isAdmin}}/admin{{/if}}/{{tableObj.pluralKebabCase}}/new">
              New
            </Link>
          </TableHead>
        </TableRow>
      </TableHeader>
      <TableBody>
        { {{tableObj.singularCamelCase}}List.map(({{tableObj.singularCamelCase}}Obj) => (
          <TableRow key={ {{tableObj.singularCamelCase}}Obj.id }>
            <TableCell>{ {{tableObj.singularCamelCase}}Obj.id }</TableCell>
            {{#each validatedColumns}}
              {{#switch this.dataType}}
                {{#case "boolean"}}
            <TableCell>{ {{../tableObj.singularCamelCase}}Obj.{{this.caseVariants.originalCamelCase}} ? "true" : "false" }</TableCell>
                {{/case}}
                {{#case "date"}}
            <TableCell>{ {{../tableObj.singularCamelCase}}Obj.{{this.caseVariants.originalCamelCase}}?.toLocaleDateString() }</TableCell>
                {{/case}}
                {{#case "datetime"}}
            <TableCell>{ {{../tableObj.singularCamelCase}}Obj.{{this.caseVariants.originalCamelCase}}?.toLocaleString() }</TableCell>
                {{/case}}
                {{#case "timestamp"}}
            <TableCell>{ {{../tableObj.singularCamelCase}}Obj.{{this.caseVariants.originalCamelCase}}?.toLocaleString() }</TableCell>
                {{/case}}
                {{#case "json"}}
            <TableCell>{ JSON.stringify({{../tableObj.singularCamelCase}}Obj.{{this.caseVariants.originalCamelCase}}) }</TableCell>
                {{/case}}
                {{#case "jsonb"}}
            <TableCell>{ JSON.stringify({{../tableObj.singularCamelCase}}Obj.{{this.caseVariants.originalCamelCase}}) }</TableCell>
                {{/case}}
                {{#case "references"}}
            <TableCell>{ {{../tableObj.singularCamelCase}}Obj.{{this.caseVariants.singularCamelCase}} }</TableCell>
                {{/case}}
                {{#case "references_select"}}
            <TableCell>{ {{../tableObj.singularCamelCase}}Obj.{{this.caseVariants.singularCamelCase}} }</TableCell>
                {{/case}}
                {{#case "file"}}
            <TableCell>{ {{../tableObj.singularCamelCase}}Obj.{{this.caseVariants.originalCamelCase}} }</TableCell>
                {{/case}}
                {{#default}}
            <TableCell>{ {{../tableObj.singularCamelCase}}Obj.{{this.caseVariants.originalCamelCase}} }</TableCell>
                {{/default}}
              {{/switch}}
            {{/each}}
            <TableCell>
              <div className="flex gap-2">
                <Link href={`{{#if isAdmin}}/admin{{/if}}/{{tableObj.pluralKebabCase}}/${ {{tableObj.singularCamelCase}}Obj.id }`} className="flex text-sm items-center gap-2">
                  View
                </Link>
                <Link href={`{{#if isAdmin}}/admin{{/if}}/{{tableObj.pluralKebabCase}}/${ {{tableObj.singularCamelCase}}Obj.id }/edit`} className="flex text-sm items-center gap-2">
                  Edit
                </Link>
                <Link href={`{{#if isAdmin}}/admin{{/if}}/{{tableObj.pluralKebabCase}}/${ {{tableObj.singularCamelCase}}Obj.id }/delete`} className="flex text-sm items-center gap-2">
                  Delete
                </Link>
              </div>
            </TableCell>
          </TableRow>
        ))}
      </TableBody>
    </Table>
  );
}
