      <FormControl>
        <Label htmlFor="{{validatedColumn.caseVariants.originalCamelCase}}">{{validatedColumn.caseVariants.originalCapitalCase}}</Label>
        { {{tableObj.singularCamelCase}}Row.{{validatedColumn.caseVariants.originalCamelCase}}  && (
          <div>
            <Link href={config.NEXT_PUBLIC_UPLOAD_BASE_URL +  {{tableObj.singularCamelCase}}Row.{{validatedColumn.caseVariants.originalCamelCase}} }>{ {{tableObj.singularCamelCase}}Row.{{validatedColumn.caseVariants.originalCamelCase}} }</Link>
          </div>
        )}
        <Input type="file" name="{{validatedColumn.caseVariants.originalCamelCase}}" id="{{validatedColumn.caseVariants.originalCamelCase}}" />
        {state.errors?.{{validatedColumn.caseVariants.originalCamelCase}}?.map((error) => (
          <FormMessage key={error} variant="error">{error}</FormMessage>
        ))}
      </FormControl>