import { like } from "drizzle-orm";
import Link from "next/link";
import { db } from "@/lib/db";
import { Pagination } from "@/components/pagination";
import { SearchInput } from "@/components/search-input";
import { Dashboard, DashboardTitle, DashboardToolbar, DashboardContent, DashboardFooter } from "@/components/ui/dashboard";
import { Button } from "@/components/ui/button";
import { parseSearchParams } from "@/lib/search-params-utils";
import { {{tableObj.pluralCamelCase}} } from "@/schema/{{tableObj.pluralKebabCase}}";
import { {{tableObj.singularPascalCase}}Table } from "@/components/{{authorizationLevel}}/{{tableObj.pluralKebabCase}}/{{tableObj.singularKebabCase}}-table";
import { get{{tableObj.pluralPascalCase}}WithRelationsList } from "@/queries/{{tableObj.singularKebabCase}}-queries";
import { Notice } from "@/components/notice";

type SearchParams = Promise<{ [key: string]: string | string[] | undefined }>;

export default async function Page(props: {
  searchParams: SearchParams;
}) {
  const searchParams = await props.searchParams;
  const {
    page = 1,
    pageIndex = 0,
    pageSize = 10,
    search,
    sort = "createdAt",
    sortOrder = "desc",
  } = parseSearchParams(searchParams);
  const filters = search ? like({{tableObj.pluralCamelCase}}.id, `%${search}%`) : undefined;
  const count = await db.$count({{tableObj.pluralCamelCase}}, filters);
  const totalPages = Math.ceil(count / pageSize);
  const {{tableObj.singularCamelCase}}List = await get{{tableObj.pluralPascalCase}}WithRelationsList({
    filters: filters,
    sort: sort,
    sortOrder: sortOrder,
    limit: pageSize,
    offset: pageIndex * pageSize,
  });

  return (
    <Dashboard>
      <Notice />
      <DashboardTitle>{{tableObj.pluralCapitalCase}}</DashboardTitle>
      <DashboardToolbar>
        <SearchInput />
        <Link href="{{#if isAdmin}}/admin{{/if}}/{{tableObj.pluralKebabCase}}/new">
          <Button>New</Button>
        </Link>
      </DashboardToolbar>
      <DashboardContent>
        <{{tableObj.singularPascalCase}}Table {{tableObj.singularCamelCase}}List={ {{tableObj.singularCamelCase}}List } />
      </DashboardContent>
      <DashboardFooter>
        <Pagination
          page={page}
          pageSize={pageSize}
          totalPages={totalPages}
          count={count}
        />
      </DashboardFooter>
    </Dashboard>
  );
}
