        <FormControl>
          <Label htmlFor="{{validatedColumn.caseVariants.originalCamelCase}}">{{validatedColumn.caseVariants.originalCapitalCase}}</Label>
          <TiptapEditor html="" name="{{validatedColumn.caseVariants.originalCamelCase}}" id="{{validatedColumn.caseVariants.originalCamelCase}}" />
          {state.errors?.{{validatedColumn.caseVariants.originalCamelCase}}?.map((error) => (
            <FormMessage key={error}>{error}</FormMessage>
          ))}
        </FormControl>