import Link from "next/link";
import { notFound } from "next/navigation";
{{#if hasFileDataType}}
import { config } from "@/lib/config";
{{/if}}
import { get{{tableObj.singularPascalCase}}ById } from "../_lib/get-{{tableObj.singularKebabCase}}-by-id";

type Params = Promise<{ id: {{pkStrategyJsType}} }>;

export default async function Page(props: { params: Params }) {
  const params = await props.params;
  const { id } = params;

  const {{tableObj.singularCamelCase}}Row = await get{{tableObj.singularPascalCase}}ById(id);

  if (!{{tableObj.singularCamelCase}}Row) {
    notFound();
  }

  return (
    <div>
      <div>
        <div>{{tableObj.singularCapitalCase}}</div>
        <div>
          <Link href={`/{{tableObj.pluralKebabCase}}`}>Back</Link>
          <Link href={`/{{tableObj.pluralKebabCase}}/${ {{tableObj.singularCamelCase}}Row.id }/edit`}>Edit</Link>
          <Link href={`/{{tableObj.pluralKebabCase}}/${ {{tableObj.singularCamelCase}}Row.id }/delete`}>Delete</Link>
        </div>
      </div>
      <div>
        <p><strong>Id:</strong> { {{tableObj.singularCamelCase}}Row.id }</p>
        {{#each validatedColumns}}
          {{#switch this.dataType}}
            {{#case "boolean"}}
        <p><strong>{{this.caseVariants.originalCapitalCase}}:</strong> { {{../tableObj.singularCamelCase}}Row.{{this.caseVariants.originalCamelCase}} ? "true": "false" }</p>
            {{/case}}
            {{#case "date"}}
        <p><strong>{{this.caseVariants.originalCapitalCase}}:</strong> { {{../tableObj.singularCamelCase}}Row.{{this.caseVariants.originalCamelCase}}?.toLocaleDateString() }</p>
            {{/case}}
            {{#case "datetime"}}
        <p><strong>{{this.caseVariants.originalCapitalCase}}:</strong> { {{../tableObj.singularCamelCase}}Row.{{this.caseVariants.originalCamelCase}}?.toLocaleString() }</p>
            {{/case}}   
            {{#case "timestamp"}}
        <p><strong>{{this.caseVariants.originalCapitalCase}}:</strong> { {{../tableObj.singularCamelCase}}Row.{{this.caseVariants.originalCamelCase}}?.toLocaleString() }</p>
            {{/case}}
            {{#case "json"}}
        <p><strong>{{this.caseVariants.originalCapitalCase}}:</strong> { JSON.stringify({{../tableObj.singularCamelCase}}Row.{{this.caseVariants.originalCamelCase}}) }</p>
            {{/case}}
            {{#case "jsonb"}}
        <p><strong>{{this.caseVariants.originalCapitalCase}}:</strong> { JSON.stringify({{../tableObj.singularCamelCase}}Row.{{this.caseVariants.originalCamelCase}}) }</p>
            {{/case}}
            {{#case "references"}}
        <p><strong>{{this.caseVariants.originalCapitalCase}}:</strong> { {{../tableObj.singularCamelCase}}Row.{{this.caseVariants.singularCamelCase}} }</p>
            {{/case}}
            {{#case "references_select"}}
        <p><strong>{{this.caseVariants.originalCapitalCase}}:</strong> { {{../tableObj.singularCamelCase}}Row.{{this.caseVariants.singularCamelCase}} }</p>
            {{/case}}
            {{#case "file"}}
        <p><strong>{{this.caseVariants.originalCapitalCase}}:</strong> <Link href={`${config.NEXT_PUBLIC_UPLOAD_BASE_URL}/${ {{../tableObj.singularCamelCase}}Row.{{this.caseVariants.originalCamelCase}} }`}>{ {{../tableObj.singularCamelCase}}Row.{{this.caseVariants.originalCamelCase}} }</Link></p>
            {{/case}}
            {{#default}}
        <p><strong>{{this.caseVariants.originalCapitalCase}}:</strong> { {{../tableObj.singularCamelCase}}Row.{{this.caseVariants.originalCamelCase}} }</p>
            {{/default}}
          {{/switch}}
        {{/each}}
      </div>
    </div>
  );
}
